
      @import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap');
      .intro-header{
        background-color: #00000017;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: 10px;
        padding-top: 15px;
        top: 15px;
        left: 15px;
        position: absolute;
        text-align: left;
        color: white;
        
      }
      .project-header{
        height: 200px;
      }
      .change-picture{
        cursor: pointer;
        position: absolute;
        right: 20px;
        background-color: #00000017;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: 20px;
        
        padding-bottom: 16px;
        border: none;
        top: 15px;
        
        position: absolute;
        text-align: left;
        color: white;

      }.change-picture i{color: white}
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
      .change-picture i span{
        font-family: 'Inter', sans-serif;

      }
      .change-picture input[type="file"]{display: none}
      .description{
        
        padding-left: 10px;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      .wrapper{
        overflow-x: hidden;
        position: relative;
        
        
      }
      .container{
        padding-top: 40px;
      }
      .custom-control-input:checked~.custom-control-label::before {
          color: #fff;
          border-color: #8819ff;
          background-color: #7d17fc ;
        }    
      .shadowed{
        box-shadow:0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05)!important;
        border: 0px !important; 
      }  
      .btn{
        font-weight: 600 !important;
        font-family: 'Montserrat', sans-serif !important;
        font-size: 15px;
        border:none ;
        pointer-events: all;
        max-width: 180px;
        padding: 5px 15px !important;
        border-radius: 20px !important;    
      } 
      .purple{
        background-color: #8819ff;
        color:white !important;    
      }
      .lightgreen{
        color: #2B2B2B !important;    
        color:#2B2B2B;
        background-color: #67FBD1;
      }
      .pill-large{
        margin:10px !important;
        padding: 10px 10px !important;
        border-radius: 30px !important;
      }  

      .alert-success{
        background-color: #8fffdf !important;
        color: #006145 !important;
      }
      .btn-success{
        color: #2B2B2B ;
        background-color: #67FBD1 ;
      }.btn-success:hover{
        background-color: #5fedc5;
      }
      .btn-primary{
        background-color: #1e62eb !important;
        color: white !important;
      }
      .btn-warning{
        background-color: #DF4550!important
      }
      .btn-secondary{
        background-color: #2B2B2B !important; 
      }

      .input-group{
        font-weight: 500 !important;
      }
      .alert-warning{
        background-color: #FEFEDF;
      }
      .form-control{
        border:none !important;
        background-color: #fff !important
      }.form-control:focus{
        outline: none !important;
        border-color: #8fffdf;
        box-shadow: 0 0 10px lightgrey;    
      }
      .alert{
        margin-bottom: 0rem !important;
      }
      .alert-danger{
        margin-bottom: 0rem !important;
        background-color: rgba(223, 69, 80,0.2) !important;
        color: red;
      }
      .teammate{
        color: white;
        background-color: #e6e6e6;
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 1.33;
        border-radius: 75px !important;    
        text-align: center !important;
        text-decoration: none !important;
        display: inline;
        border-style: none;
        z-index: -100 !important;
      }
      .tooltip {
        position: static;
        display: inline;
        opacity: 1 !important;
        z-index: 100000 !important;
      }
      .tooltip .tooltiptext {
        
        font-family: 'Roboto', sans-serif;
        visibility: hidden;
        transition: all;
        width: 220px;
        color: #fff;
        border-radius: 10px;
        padding: 8px 12px;
        background-color:  #2b2b2b8c;
        backdrop-filter: grayscale(0.5) opacity(0.5);

        /* Position the tooltip */
        position: absolute;
        z-index: 100;
      }
      .tooltip:hover .tooltiptext {
        visibility: visible;
      }
      .tooltip-container{
        position: relative;
      }
      .bg{
        background-color: black;
      }
      .content{
        padding-bottom: 50px;
        /*height: 100vh;*/
        
      }
      .index-image{
        max-width: 450px;
        width: 100%;
      }  
      .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }  
      .index-title{
        margin-top: auto;
        margin-bottom: auto;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500 !important;
        font-size: 50px;
        color: white;
        left: 0;
        float: left;
        text-shadow: 3px 3px 15px black;
      }

      body{
        font-family: 'Roboto', sans-serif;
    /*    background-image: url('https://i.imgur.com/tPCneYv.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;ss*/    
        font-weight: 400;    
        overflow-x: hidden;
      }
      input{
        font-weight: 400 !important;
      }input:focus{
        border-color:#8819ff !important;
        outline: none !important;
      }
      select{
        font-weight: 400 !important;
        border:none !important;
        background-color: #fff !important;
      } 
      nav{
        z-index: 15;    
        box-shadow:2px 2px 7px lightgrey;
        background-color: white;
      }
      
      .navbar-brand{
        font-family: 'Circular-Loom', sans-serif;
        color: #000 !important;
        font-size: 25px;
        font-weight: 600 !important;
      }
      .showbox{
        
        position: relative;
      }
      textarea{
        border-radius: 15px;
        border:none;
        padding:30px;
      }canvas{
        position: fixed;
        left:  0;
        top: 0;
        
      }h2{
        z-index: 100;
        border-radius: 50px;
        padding: 1vh;
        background-color: #2B2B2B;
        color: white;
        max-width: 450px
      }h4{
        color: #404040;
        line-height: 1.5;
        font-weight: 500;
      }h3{
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
      }
      /*@media only screen and (max-width:1500px){
      }.content{
          height: 60vh;
        }*/
      @media only screen and (max-width:600px){
        .index-title{
            font-size: 30px;
        }    
        h4{
          color: #404040;
          line-height: 1.5;
          font-size: 15;
          font-weight: 500;
        }.content{
          height: 100vh;
        }
      }
      p{
        font-size: 18px;
      }
      p .fa{
        font-size: 20px;
      }
      .modal-content{
        backdrop-filter:opacity(0.98) blur(5px);
        background-color:transparent;
      }