
      .profilepic{
        height: 28.5px;
        width: 28.5px;
        border-radius: 50px;
        border-style: none;
        background-image: url(https://storage.googleapis.com/fevici.appspot.com/{{profileid}});
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;    
      }
      .icon-sidebar{
        z-index: 20;
        left: 0;
        width:70PX;
        position:fixed;
        height: 100%;
        background-color: #fff;
        box-shadow: 2px 2px 7px lightgray;
      }.subicon-sidebar{

        left: 25%;
        top: 2vh;
        position: relative;
        text-align: center;
        font-size: 25px;
        width: 50px;
        height: 50px;
        color: #bdbec5;
        background-position: center;
      }.subicon-sidebar a{
        color: #bdbec5 !important;
        border:none;
        background-color: transparent;
      }.subicon-sidebar a ::before{
        background-color: transparent;
      }.active{
        border-radius: 7px;
        /*box-shadow: 2px 2px 7px lightgray;*/
        background-color: #1e62eb1f;
      }.active i{
        color: #1e62eb !important;
      }
      .subicon i{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

      }.icon-sidebar .row{
        height: 10vh
      }.notif{
        display: inline;
        position: relative;
        z-index: 10;
        
        border-radius:10px;
        font-size: 20px;
        text-decoration: none !important;
      }.notif:hover{
        
        text-decoration: none;
      }
      .ping{
        background-color: #fe5858;
        position: absolute;
        border-radius: 5px;
        border: 2px solid white;
        /* font-size: 30px; */
        border-radius: 50%;
        z-index: 20;
        left: 60%;
        height: 10px;
        top: 64%;
        text-shadow: 0px 0px 4px #f3e8ff;
        width: 10px;
      }
      .collapse-left{
        position: fixed;
        z-index: 30;
        padding: 30px;
        bottom: 15px;
        left: 3px;
        color: #7d17fc !important;
        border: solid #7d17fc54 1.5px;
        visibility: hidden;
        background-color: #eedeff;
        border-radius: 10px;
      }
      @media only screen  and (max-width:600px ){
        .collapse-left{
          visibility: visible;
        }
      }
      .hidden{
        left: -100px;
      }