{% extends "header.html" %}
{% block content %}



<div class="container" >
  <div class="row">
    <div class="col-lg">
    </div>
    <div class="col-lg text-center">
      {% with flash_messages = get_flashed_messages() %}
        {% if flash_messages %}
          {% for message in flash_messages %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}    
    </div>
    <div class="col-lg text-center">
    </div>
  </div>

  <div class="row" >
    <div class="col-lg-2"></div>
      <div class="col-lg-8">
<!--       {% if project %}    DEBUG
        <label> Your project: {{project}}</label>
      {% endif %} -->



        <form method="POST" action="{{ url_for('aboutBP.update_about') }}" enctype=multipart/form-data>        
          <div class="modal-content borderless shadowed">
            <div class="modal-header">
              <h3>Sobre Ti! &#128125;</h3>
            </div>


              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                El <strong>{{limit}}</strong> cierra la edición de proyectos!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>               

              {% if status=="Success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  Guardado Exitosamente!
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>  
              {% elif status  %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{status}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>  
              {% endif %}

            <div class="modal-body mx-3">
                <div class="md-form"> 
                    <div class="row">
                      <div class="col-sm-9 order-2">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Nombre(s)</label>
                          {% if project['Nombres']|length > 0 %}
                            <input name="nombres" placeholder="{{project['Nombres']}}" value="{{project['Nombres']}}" type="text" autofocus class="form-control">
                          {% else %}
                            <input name="nombres" placeholder="" value="{{project['Nombres']}}" type="text" autofocus class="form-control">
                          {% endif %}                        
                        <br>
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Apellido(s)</label>
                          {% if project['Apellidos']|length > 0 %}
                            <input name="apellidos" placeholder="{{project['Apellidos']}}" value="{{project['Apellidos']}}" type="text" autofocus class="form-control">
                          {% else %}
                            <input name="apellidos" placeholder="" value="{{project['Apellidos']}}" type="text" autofocus class="form-control">
                          {% endif %}



                      </div>
                      <div class="col-sm-3 order-1 " >


                        <div class="profile-photo-div" id="profile-photo-div">
                          <div class="profile-img-div" id="profile-img-div">
                            <div id="loader"></div><img id="profile-img" src="https://storage.googleapis.com/fevici.appspot.com/{{profileid}}"/>
                            <input id="x-position" type="range" name="x-position" value="0" min="0"/>
                            <input id="y-position" type="range" name="y-position" value="0" min="0"/>
                          </div>
                          <div class="profile-buttons-div">
                            <div class="profile-img-input" id="profile-img-input">
                              <label class="button" id="change-photo-label" for="change-photo">UPLOAD PHOTO</label>
                              <input id="change-photo" type="file" style="visibility: hidden;" accept="image/*"/>      
                            </div>

                            <div class="profile-img-confirm" id="profile-img-confirm" style="display: none">
                              <div class="button half green" id="save-img"><i class="fa fa-check" aria-hidden="true"></i></div>
                              <div class="button half red" id="cancel-img"><i class="fa fa-remove" aria-hidden="true"></i></div>
                            </div>
                          </div>
                        </div>
                        <input id="uploaded" name="image" type="text" title="image" style="visibility: hidden;"  />
                        <div class="error" id="error">min sizes 400*400px</div>
                        <canvas id="croppedPhoto" width="400" height="400" style="visibility: hidden;"></canvas>


                      </div>
                    </div>

                    
                    <!-- SELECCIONADOR DE FECHA -->
                    <label for="Fecha">Ingresa tu fecha de nacimiento</label>
                    {% if project['Fecha']|length > 0 %}
                      <input id="Fecha" type="date" name="Fecha" value="{{project['Fecha']}}" class="pretty"><br>
                    {% else %}
                      <input id="Fecha" type="date" name="Fecha" class="pretty"><br>
                    {% endif %}
                                

                    <!-- SELECCIONADOR DE PAIS -->
                    <br>
                    <script src="js/country-state-select.js"></script>
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Selecciona tu país</label>
                    {% if project['Country']|length > 0 %}
                      <select id="country" name="country" class="custom-select my-1 mr-sm-2" value = "{{project['Country']}}"></select><br><br>
                    {% else %}
                      <select id="country" name="country" class="custom-select my-1 mr-sm-2"></select><br><br>
                    {% endif %}


                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Seleccciona tu estado</label>
                    {% if project['State']|length > 0%}
                      <select id="state" name="state" class="custom-select my-1 mr-sm-2" value = "{{project['State']}}"></select>
                    {% else %}
                      <select id="state" name="state" class="custom-select my-1 mr-sm-2"></select>
                    {%endif %}

                    <script type="text/javascript">
                        populateCountries("country", "state");
                        var country = "{{project.Country}}";
                        var state = "{{project.State}}";
                        console.log("printing");
                        console.log(country+" "+state);
                        if (country.length > 0){
                          document.getElementById("country").value = country;
                        }if(state.length > 0){
                          document.getElementById("state").value = state;
                        }
                    </script>                    

                    <br><br>
                    <div class="custom-control custom-checkbox mr-sm-2">
                      <input name="teamcheck" type="checkbox" class="custom-control-input" id="customControlAutosizing" onclick="checkAppear()">
                      <label class="custom-control-label" for="customControlAutosizing">Fuiste invitado a un equipo?</label>
                    </div>                      
                    <div style="display: none" id="invisible">
                      <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg">
                          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Ingresa el código de invitación</label>
                            {% if project['Code']|length > 0%}
                              <input name="code" placeholder="{{project['Code']}}" value="
                              {{project['Code']}}" type="text" autofocus class="form-control">
                            {% else %}
                              <input name="code" placeholder="código" value="{{project['Code']}}" type="text" autofocus class="form-control">
                            {% endif %}                            
                        </div>
                        <div class="col-lg-1"></div>
                      </div>
                    </div>


                    <br>
                    <div class="custom-control custom-checkbox mr-sm-2">
                      <input name="rules" type="checkbox" class="custom-control-input" id="rules">
                      <label class="custom-control-label" for="rules">Has leido las <a href="" style="color:#6772e5 !important; "><b>reglas?<b></a></label>
                    </div>                     



                    <!-- PRUEBA                   
                    <br>
                    <input name="userPassword" placeholder="Your Password"  type="password" class="form-control">
                      -->                

                  </div>              
                <br>          
            </div>
            <div class="modal-footer">
              <!-- <button onclick="cancel()" type="button" class="btn btn-secondary mr-auto" id="cancel-button" data-dismiss="modal">Salir</button> -->
              {% if status=="Success" %}
                <button onclick="validate()" type="submit" href="/update_about" class="btn btn-success " id="save_button">Guardar de nuevo?</button>
              {% elif status != None %}
                <button onclick="validate()" type="submit" href="/update_about" class="btn btn-warning " id="save_button">Intentar de nuevo?</button>
              {% else %}
                <button onclick="validate()" type="submit" href="/update_about" class="btn btn-primary " id="save_button">Guardar</button>
              {% endif %}
              
            </div>
          </div>
        </form>

      </div>
    <div class="col-lg-2"></div>

  </div>

</div>
{% endblock %}
