{% extends "header.html" %}
{% block content %}



<div class="container" >
  <div class="row">
    <div class="col-lg">
    </div>
    <div class="col-lg text-center">
      {% with flash_messages = get_flashed_messages() %}
        {% if flash_messages %}
          {% for message in flash_messages %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}    
    </div>
    <div class="col-lg text-center">
    </div>
  </div>

  <div class="row" >
    <div class="col-lg-2"></div>
      <div class="col-lg-8">
<!--       {% if project %}    DEBUG
        <label> Your project: {{project}}</label>
      {% endif %} -->



        <form method="POST" action="{{ url_for('aboutBP.update_about') }}" enctype=multipart/form-data>        
          <div class="modal-content borderless shadowed">
            <div class="modal-header">
              <h3>Sobre Ti! &#128125;</h3>
            </div>


              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                El <strong>{{limit}}</strong> cierra la edición de proyectos!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>               

              {% if status=="Success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  Guardado Exitosamente!
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>  
              {% elif status  %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{status}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>  
              {% endif %}

            <div class="modal-body mx-3">
                <div class="md-form"> 
                    <div class="row">
                      <div class="col-sm-9 order-2">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Nombre(s)</label>
                          {% if project['Nombres']|length > 0 %}
                            <input name="nombres" placeholder="{{project['Nombres']}}" value="{{project['Nombres']}}" type="text" autofocus class="form-control">
                          {% else %}
                            <input name="nombres" placeholder="" value="{{project['Nombres']}}" type="text" autofocus class="form-control">
                          {% endif %}                        
                        <br>
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Apellido(s)</label>
                          {% if project['Apellidos']|length > 0 %}
                            <input name="apellidos" placeholder="{{project['Apellidos']}}" value="{{project['Apellidos']}}" type="text" autofocus class="form-control">
                          {% else %}
                            <input name="apellidos" placeholder="" value="{{project['Apellidos']}}" type="text" autofocus class="form-control">
                          {% endif %}



                      </div>
                      <div class="col-sm-3 order-1 " >







<style type="text/css">
  body{
  margin: 0px;
  position: relative;
}

.bar{
  display: block;
  background-color: #00cccf;
}

.bar h1{
  margin: 0px;
  font-family: helvetica, sans-serif;
  font-size: 22px;
  padding: 10px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

.profile-photo-div{
  position: relative;
  /*margin: 50px auto 10px auto;*/
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.profile-img-div{
  display: block;
  position: relative;
  overflow: hidden;
}

#loader{
  position: absolute;
  top:0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #00cccf;
  z-index:10;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#profile-img{
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

#change-photo{
  display: none;
}

.profile-buttons-div{
  position: relative;
  display: block;
}

.button{
    position: relative;
    display: block;
    font-family: 'Inter-Loom';
    font-size: 13px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #8819ff;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.button:hover{
  letter-spacing: 1px;
}

.button:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;



  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 10px;
  height: 10px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .9s;
  -o-transition: .9s;
  transition: .9s;
}

.button:hover:after{
  -webkit-transform: scale(50);
  -ms-transform: scale(50);
  transform: scale(50);
  opacity: 1;
}

.button.half{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  width: 50%;
}

.green{
  background-color: #15ae6b;
}

.red{
  background-color: #ae0000;
}

#x-position{
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
}

#y-position{
  position: absolute;
  right: -50px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  display: none;
}

canvas{
  position: fixed;
  top: -2000px;
  left: -2000px;
  z-index: -1;
}

.profile-img-confirm{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.error{
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  color: red;
  text-align:center;
  display: none;
}
</style>

<div class="profile-photo-div" id="profile-photo-div">
  <div class="profile-img-div" id="profile-img-div">
    <div id="loader"></div><img id="profile-img" src="https://storage.googleapis.com/fevici.appspot.com/{{profileid}}"/>
    <input id="x-position" type="range" name="x-position" value="0" min="0"/>
    <input id="y-position" type="range" name="y-position" value="0" min="0"/>
  </div>
  <div class="profile-buttons-div">
    <div class="profile-img-input" id="profile-img-input">
      <label class="button" id="change-photo-label" for="change-photo">UPLOAD PHOTO</label>
      <input id="change-photo" type="file" style="visibility: hidden;" accept="image/*"/>      
    </div>

    <div class="profile-img-confirm" id="profile-img-confirm" style="display: none">
      <div class="button half green" id="save-img"><i class="fa fa-check" aria-hidden="true"></i></div>
      <div class="button half red" id="cancel-img"><i class="fa fa-remove" aria-hidden="true"></i></div>
    </div>
  </div>
</div>
<input id="uploaded" name="image" type="text" title="image" style="visibility: hidden;"  />
<div class="error" id="error">min sizes 400*400px</div>
<canvas id="croppedPhoto" width="400" height="400" style="visibility: hidden;"></canvas>

<script type="text/javascript">
  var $profileImgDiv = document.getElementById("profile-img-div"),
    $profileImg = document.getElementById("profile-img"),
    $uploaded = document.getElementById("uploaded"),
    $changePhoto = document.getElementById("change-photo"),
    $xPosition = document.getElementById("x-position"),
    $yPosition = document.getElementById("y-position"),
    $saveImg = document.getElementById("save-img"),
    $loader = document.getElementById("loader"),
    $cancelImg = document.getElementById("cancel-img"),
    $profileImgInput = document
      .getElementById("profile-img-input"),
    $profileImgConfirm = document
      .getElementById("profile-img-confirm"),
    $error = document.getElementById("error");

var currentProfileImg = "",
    profileImgDivW = getSizes($profileImgDiv).elW,
    NewImgNatWidth = 0,
    NewImgNatHeight = 0,
    NewImgNatRatio = 0,
    NewImgWidth = 0,
    NewImgHeight = 0,
    NewImgRatio = 0,
    xCut = 0,
    yCut = 0;

makeSquared($profileImgDiv);

$changePhoto.addEventListener("change", function() {
  currentProfileImg = $profileImg.src;
  showPreview(this, $profileImg);
  $loader.style.width = "100%";
  $profileImgInput.style.display = "none";
  $profileImgConfirm.style.display = "flex";
  $error.style.display = "none";
});

$xPosition.addEventListener("input", function() {
  $profileImg.style.left = -this.value + "px";
  xCut = this.value;
  yCut = 0;
});

$yPosition.addEventListener("input", function() {
  $profileImg.style.top = -this.value + "px";
  yCut = this.value;
  xCut = 0;
});

$saveImg.addEventListener("click", function() {
  cropImg($profileImg);
  resetAll(true);
});

$cancelImg.addEventListener("click", function() {
  resetAll(false);
});

window.addEventListener("resize", function() {
  makeSquared($profileImgDiv);
  profileImgDivW = getSizes($profileImgDiv).elW;
});

function makeSquared(el) {
  var elW = el.clientWidth;
  el.style.height = elW + "px";
}

function showPreview(input, el) {
  var reader = new FileReader();
  reader.readAsDataURL(input.files[0]);
  if (input.files && input.files[0]) {
    reader.onload = function(e) {
      setTimeout(function() {
        el.src = e.target.result;
      }, 300);

      var poll = setInterval(function() {
        if (el.naturalWidth && el.src != currentProfileImg) {
          clearInterval(poll);
          setNewImgSizes(el);
          setTimeout(function() {
            $loader.style.width = "0%";
            $profileImg.style.opacity = "1";
          }, 1000);
        }
      }, 100);
    };
  } else {
    return;
  }
}

function setNewImgSizes(el) {
  if (getNatSizes(el).elR > 1) {
    el.style.width = "auto";
    el.style.height = "100%";
    newImgWidth = getSizes(el).elW;
    $xPosition.style.display = "block";
    $yPosition.style.display = "none";
    $xPosition.max = newImgWidth - profileImgDivW;
  } else if (getNatSizes(el).elR < 1) {
    el.style.width = "100%";
    el.style.height = "auto";
    newImgHeight = getSizes(el).elH;
    $xPosition.style.display = "none";
    $yPosition.style.display = "block";
    $yPosition.max = newImgHeight - profileImgDivW;
  } else if (getNatSizes(el).elR == 1) {
    el.style.width = "100%";
    el.style.height = "100%";
    $xPosition.style.display = "none";
    $yPosition.style.display = "none";
  }
}

function getNatSizes(el) {
  var elW = el.naturalWidth,
    elH = el.naturalHeight,
    elR = elW / elH;
  return {
    elW: elW,
    elH: elH,
    elR: elR
  };
}

function getSizes(el) {
  var elW = el.clientWidth,
    elH = el.clientHeight,
    elR = elW / elH;
  return {
    elW: elW,
    elH: elH,
    elR: elR
  };
}

function cropImg(el) {
  var natClientImgRatio = getNatSizes(el).elW / getSizes(el).elW;
  (myCanvas = document.getElementById("croppedPhoto")),
    (ctx = myCanvas.getContext("2d"));
  ctx.fillStyle = "#ffffff";
  ctx.fillRect(0, 0, 400, 400);
  ctx.drawImage(
    el,
    xCut * natClientImgRatio,
    yCut * natClientImgRatio,
    profileImgDivW * natClientImgRatio,
    profileImgDivW * natClientImgRatio,
    0,
    0,
    400,
    400 
  );
  var newProfileImgUrl = myCanvas.toDataURL("image/jpeg");
  console.log(newProfileImgUrl);
  $changePhoto.src = newProfileImgUrl;
  $uploaded.value = newProfileImgUrl;
  $profileImg.src = newProfileImgUrl;
}

function resetAll(confirm) {
  if (!confirm) {
    $profileImg.src = currentProfileImg;
  }
  $changePhoto.value = "";
  $profileImgInput.style.display = "block";
  $profileImgConfirm.style.display = "none";
  $profileImg.style.left = "0";
  $profileImg.style.top = "0";
  $profileImg.style.width = "100%";
  $profileImg.style.height = "100%";
  $xPosition.style.display = "none";
  $yPosition.style.display = "none";
  $xPosition.value = "0";
  $yPosition.value = "0";
  xCut = "0";
  yCut = "0";
}

function checkMinSizes(el) {
  if (getNatSizes(el).elW > 400 && getNatSizes(el).elH > 400) {
    return true;
  } else {
    return false;
  }
}

</script>








                      </div>
                    </div>

                    <!-- SELECCIONADOR DE FECHA -->
                    <br>
                    <style type="text/css">
                    .altfield {
                        margin-left: 1em;
                        background-color: #efefef;
                        padding:.2em;
                        color: #c00;
                        border: none;
                    }.pretty{
                      background-color: #fff;
                      border-style: none;
                      padding:.375rem .75rem;
                      border-radius: 15px;  
                    }
                    </style>
                      <label for="Fecha">Ingresa tu fecha de nacimiento</label>
                      {% if project['Fecha']|length > 0 %}
                        <input id="Fecha" type="date" name="Fecha" value="{{project['Fecha']}}" class="pretty"><br>
                      {% else %}
                        <input id="Fecha" type="date" name="Fecha" class="pretty"><br>
                      {% endif %}
                                  
                    <script type="text/javascript">
                    yepnope({ // or Modernizr.load
                        test: Modernizr.inputtypes.date,
                        nope: [
                            'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js',
                            'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.css',
                            'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.structure.min.css',
                            'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.theme.min.css',

                        ],

                        callback:function (url) {
                            if(url === 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js') {
                                var idx=0;
                                $('input[type="date"]').each( function() {
                                    var _this=$(this),
                                        prefix='alt'+ String(idx++) + '_',
                                        _val=_this.val();
                                    _this
                                    .attr('placeholder', 'gg/mm/aaaa')
                                    .attr('autocomplete', 'off')
                                    .prop('readonly', true)
                                    .after('<input type="text" class="altfield" id="' + prefix + _this.attr('id')  + '" name="' + _this.attr('name') + '" value="' + _val + '">')
                                    .removeAttr('name')
                                    .val('')
                                    .datepicker({
                                        altField: '#'+ prefix + _this.attr('id'),
                                        dateFormat: 'dd/mm/yy',
                                        altFormat: 'yy-mm-dd'
                                    });
                                    if(_val) {
                                        _this.datepicker('setDate', $.datepicker.parseDate('yy-mm-dd', _val) );
                                    };
                                });
                                // min attribute
                                $('input[type="date"][min]').each(function() {
                                    var _this=$(this);
                                    _this.datepicker( "option", "minDate", $.datepicker.parseDate('yy-mm-dd', _this.attr('min')));
                                });
                                // max attribute
                                $('input[type="date"][max]').each(function() {
                                    var _this=$(this);
                                    _this.datepicker( "option", "maxDate", $.datepicker.parseDate('yy-mm-dd', _this.attr('max')));
                                });
                            }
                        }
                    }); // end Modernizr.load  
                    </script>
                    <!-- SELECCIONADOR DE FECHA -->





                    <!-- SELECCIONADOR DE PAIS -->
                    <br>
                    <script src="js/country-state-select.js"></script>
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Selecciona tu país</label>
                    {% if project['Country']|length > 0 %}
                      <select id="country" name="country" class="custom-select my-1 mr-sm-2" value = "{{project['Country']}}"></select><br><br>
                    {% else %}
                      <select id="country" name="country" class="custom-select my-1 mr-sm-2"></select><br><br>
                    {% endif %}


                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Seleccciona tu estado</label>
                    {% if project['State']|length > 0%}
                      <select id="state" name="state" class="custom-select my-1 mr-sm-2" value = "{{project['State']}}"></select>
                    {% else %}
                      <select id="state" name="state" class="custom-select my-1 mr-sm-2"></select>
                    {%endif %}

                    <script type="text/javascript">
                        populateCountries("country", "state");
                        var country = "{{project.Country}}";
                        var state = "{{project.State}}";
                        console.log("printing");
                        console.log(country+" "+state);
                        if (country.length > 0){
                          document.getElementById("country").value = country;
                        }if(state.length > 0){
                          document.getElementById("state").value = state;
                        }
                    </script>                    <!-- SELECCIONADOR DE PAIS -->

                    <br><br>
                    <div class="custom-control custom-checkbox mr-sm-2">
                      <input name="teamcheck" type="checkbox" class="custom-control-input" id="customControlAutosizing" onclick="checkAppear()">
                      <label class="custom-control-label" for="customControlAutosizing">Fuiste invitado a un equipo?</label>
                    </div>                      
                    <div style="display: none" id="invisible">
                      <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg">
                          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Ingresa el código de invitación</label>
                            {% if project['Code']|length > 0%}
                              <input name="code" placeholder="{{project['Code']}}" value="
                              {{project['Code']}}" type="text" autofocus class="form-control">
                            {% else %}
                              <input name="code" placeholder="código" value="{{project['Code']}}" type="text" autofocus class="form-control">
                            {% endif %}                            
                        </div>
                        <div class="col-lg-1"></div>
                      </div>
                    </div>


                    <br>
                    <div class="custom-control custom-checkbox mr-sm-2">
                      <input name="rules" type="checkbox" class="custom-control-input" id="rules">
                      <label class="custom-control-label" for="rules">Has leido las <a href="" style="color:#6772e5 !important; "><b>reglas?<b></a></label>
                    </div>                     



                    <!-- PRUEBA                   
                    <br>
                    <input name="userPassword" placeholder="Your Password"  type="password" class="form-control">
                      -->                

                  </div>              
                <br>          
            </div>
            <div class="modal-footer">
              <!-- <button onclick="cancel()" type="button" class="btn btn-secondary mr-auto" id="cancel-button" data-dismiss="modal">Salir</button> -->
              {% if status=="Success" %}
                <button onclick="validate()" type="submit" href="/update_about" class="btn btn-success " id="save_button">Guardar de nuevo?</button>
              {% elif status != None %}
                <button onclick="validate()" type="submit" href="/update_about" class="btn btn-warning " id="save_button">Intentar de nuevo?</button>
              {% else %}
                <button onclick="validate()" type="submit" href="/update_about" class="btn btn-primary " id="save_button">Guardar</button>
              {% endif %}
              
            </div>
          </div>
        </form>

      </div>
    <div class="col-lg-2"></div>

  </div>

<script type="text/javascript">

//var strUser = e.options[e.selectedIndex].value;  
function invite(){
  $("#save_button").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Invitando ...');

}
function validate(){
  $("#save_button").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Guardando ...');

}
function cancel(){
  $("#cancel-button").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saliendo ...');
  fetch("/")
    .then((data) => {
      console.log(data);
      window.location = data['url'];
    },
      (error) => {
        console.log(error);
        $("#cancel").html("Error.");
      });
}


prioritatias = ["COVID-19","Medio Ambiente","Conservación Ambiental","Salud","Alimentación","Oportunidades Laborales"]
ciencias = ["Ciencia de los Materiales","Ciencias Terrestres y Ambientales","Física y Astronomía","Matemáticas","Energía Química","Energía Física"]
biologias = ["Biología Celular y Molecular","Bioquímica","Química"]
medicas = ["Ciencias Biomédicas y de la Salud","Ciencia Medica Traslacional","Neurociencias"]
humanidades = ["Historia"]
csociales = ["Comportamiento y Ciencia Sociales","Psicología Social","Psicología Clínica"]
biotech = ["Biología Computacional y Bioinformatica","Ciencias Animales","Ciencias de las Plantas"]
ingenierias = ["Ingeniería Ambiental","Ingeniería Biomédica","Robótica y Máquinas Inteligentes","Sistemas de Software","Sistemas Embedidos"]

function createCats(array){
  var id = "subcat";
  var sel = document.getElementById(id);
  while(sel.hasChildNodes()){
    sel.removeChild(sel.firstChild);   
  }
  
  for (index = 0; index < array.length; index++) { 
    var opt = document.createElement('option');
    opt.appendChild( document.createTextNode(array[index]) );
    opt.value = array[index]; 
    sel.appendChild(opt);   
  } 
}

function getIndex(){
  var e = document.getElementById("cat").selectedIndex;
  if (e===1){
    createCats(prioritatias);
  }if (e===2){
    createCats(ciencias);
  }if (e===3){
    createCats(biologias);
  }if (e===4){
    createCats(medicas);
  }if (e===5){
    createCats(humanidades);
  }if (e===6){
    createCats(csociales);
  }if (e===7){
    createCats(biotech);
  }if (e===8){
    createCats(ingenierias);
  }

  console.log(e);
}

function checkAppear(){
  if (document.getElementById('customControlAutosizing').checked){
    document.getElementById('invisible').style.display = 'inline';
  }else{
    document.getElementById('invisible').style.display = 'none';
  }
}


</script>

</div>
{% endblock %}
