{% extends "header.html" %}
{% block content %}


<style type="text/css">
.panel-heading{
  text-decoration: none !important;
}

.panel-default>.panel-heading {
  background-color: #f5f5f5;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {

  display: block;
  padding: 10px 15px;
  color: blue !important;
}

.panel-default>.panel-heading a:after {
  content: "";
  
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  color: red !important;  
  background-color: #FF967B;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}
</style>


<div class="container" >
  <div class="row">
    <div class="col-lg-2">
      <div class="row"></div>
    </div>
    <div class="col-lg-8">
      <div class="row">
        
        <div class="col-lg text-center">
          {% with flash_messages = get_flashed_messages() %}
            {% if flash_messages %}
              {% for message in flash_messages %}
                <div class="alert alert-danger" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>

      <div class="row" style="margin-top:40px">

        <div class="modal-content borderless shadowed">
          <div class="modal-header">
            <h3>🎉 Bienvenido a FEVICI! 🎉 </h3>
          </div>
          <div class="modal-body mx3">
            <div class="col-sm-6">
              Ocho
            </div>
            <div class="col-sm-6">

            </div>
          
            <div class="modal-body">


            </div>
            <center>
            </center>
          </div>
      </div></div>
  </div>


<script type="text/javascript">
function cancel(clicked_id){
    console.log(clicked_id.toString());
    $("#"+clicked_id).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saliendo ...');   //SOLAMENTE CAMBIA EL ESTILO MIENTRAS QUE HREF HACE EL BACKEND
  }
$(document).ready(function() {

  $(".toggle-accordion").on("click", function() {
    var accordionId = $(this).attr("accordion-id"),
      numPanelOpen = $(accordionId + ' .collapse.in').length;
    
    $(this).toggleClass("active");

    if (numPanelOpen == 0) {
      openAllPanels(accordionId);
    } else {
      closeAllPanels(accordionId);
    }
  })

  openAllPanels = function(aId) {
    console.log("setAllPanelOpen");
    $(aId + ' .panel-collapse:not(".in")').collapse('show');
  }
  closeAllPanels = function(aId) {
    console.log("setAllPanelclose");
    $(aId + ' .panel-collapse.in').collapse('hide');
  }
     
});


  </script>

</div>
{% endblock %}