{% extends "header.html"%}
{% block content%}


<div class="container">
	<div class="col">
		<div class="row">
			<div class="filter">
				Filtrar por categorias
			</div>
		</div>
		<div class="row">
			<a class="green card" href="https://facebook.com">
				<div class="top">
					
				</div>
				<div class="card-content">
					<div class="title">
						Red neuronal para la detección de sargazo en la costa mexicana
					</div>
					<div class="description">
						asies bandatron hice ciencia
					</div>
					<div class="row">
						<div class="col-5">
							<div class="contacts">
								<div class="author"></div>
								<div class="author"></div>
								<div class="author"></div>
								<div class="author"></div>
								<div class="author"></div>
							</div>
						</div>
						<div class="col-7">
							<div class="subcategory">
								<svg class="-ml-0.5 mr-1.5 h-2 w-2 text--400" fill="currentColor" viewBox="0 0 8 8">
								    <circle cx="4" cy="4" r="3"></circle>
								 </svg>	
								 Bioquimica			
							</div>		
						</div>
					</div>
				</div></a>



		</div>
	</div>
</div>

{% endblock %}