{% extends "header.html" %}
{% block content %}
<script>
  /*
   Create a new chat  
  */
  function create_new_note() {
    $("#btn-create-new-chat").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Creating ...');
    fetch("/new-chat/create")
      .then((data) => {
        console.log(data);
        $("#btn-create-new-chat").html("Created!");
        window.location = data['url'];
      },
        (error) => {
          console.log(error);
          $("#btn-create-new-chat").html("There is an error. Please try again.");
        });
  }
  function project(){
    $("#btn-go-to-project").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Creating ...');
    fetch("/project")
      .then((data) => {
        console.log(data);
        window.location = data['url'];
      },
        (error) => {
          console.log(error);
          $("#btn-go-to-project").html("There is an error. Please try again.");
        });
  }
  
</script>


<div class="container" style="margin-top: 40px">
  <div class="row">
    <div class="col-lg">
    </div>
    <div class="col-lg text-center">
      {% with flash_messages = get_flashed_messages() %}
        {% if flash_messages %}
          {% for message in flash_messages %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="col-lg text-center">
        <button id="btn-create-new-chat" type="button" onclick="create_new_note()" class="btn btn-success  btn-block">
          Create chat
        </button>
      </div><br>       
      <div class="col-lg text-center">
        <button id="btn-go-to-project" type="button" onclick="project()" class="btn btn-success  btn-block">
          Proyecto
        </button>
      </div>
     
    </div>
    <div class="col-lg text-center">
    </div>
  </div>

  <div class="row" style="margin-top:40px">
    <div class="col-lg-3"></div>
      <div class="col-lg-6">
      {% if chats_list %}
      <label> Your recent chats:</label>
      {% endif %}
      {% for chat in chats_list %}
        <div class="card" style="margin-bottom: 20px;">
          <div class="card-header">
            Chat : {{ chat.get("nid") }}
          </div>
          <div class="card-body">
            <h7 class="card-title">Users :</h7>
            <p class="card-text">{{ ', '.join(chat.get("users")) }}</p>
            <a href="/chat/{{ chat.get('nid') }}" class="btn btn-primary">Open</a> 
            <a href="/chat/leave/{{ chat.get('nid') }}" class="btn btn-warning">Leave</a>
          </div>
        </div>
        {% endfor %}

    </div>

    <div class="col-lg-3"></div>

  </div>


</div>
{% endblock %}