{% extends "header.html" %}
{% block content %}





<div class="container" >

  <div class="row">
    
    <div class="col-lg text-center">
      {% with flash_messages = get_flashed_messages() %}
        {% if flash_messages %}
          {% for message in flash_messages %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

  </div>

  <div class="row" style="margin-top:40px">

    <div class="modal-content borderless shadowed">
      <div class="modal-header">
        <h3>Sobre Ti! &#128125;</h3>
      </div>
    </div>
  </div>

<script type="text/javascript">
function cancel(clicked_id){
  console.log(clicked_id.toString());
  $("#"+clicked_id).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saliendo ...');   //SOLAMENTE CAMBIA EL ESTILO MIENTRAS QUE HREF HACE EL BACKEND
}
</script>

</div>
{% endblock %}