{% extends "header.html" %}
{% block content %}



<div class="container" style="margin-top: 40px">
  <div class="row">
    <div class="col-lg">
    </div>
    <div class="col-lg text-center">
      {% with flash_messages = get_flashed_messages() %}
        {% if flash_messages %}
          {% for message in flash_messages %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}    
    </div>
    <div class="col-lg text-center">
    </div>
  </div>

  <div class="row" style="margin-top:40px">
    <div class="col-lg-3"></div>
      <div class="col-lg-6">
<!--       {% if project %}    DEBUG
        <label> Your project: {{project}}</label>
      {% endif %} -->


        <form method="POST" action="{{ url_for('update') }}">        
          <div class="modal-content borderless shadowed">
            <div class="modal-header">
              <h3>Tu proyecto! &#128640;</h3>
            </div>
            <div class="modal-header">
              <h6 class="modal-title" id="exampleModalLabel">Esta parte del proyecto ayuda a los jueces a entenderlo mejor así que por favor se breve y específico.</h6>
            </div>     
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                El <strong>{{limit}}</strong> se cierra la edición del proyecto!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>                     
            <div class="modal-body mx-3">
                <div class="md-form">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Categoria</label>
                    <select name = "category" class="custom-select my-1 mr-sm-2" onclick="getIndex()" id="cat">
                      {% if project|length > 0 %}
                        <option selected>{{project['Category']}}</option>
                      {% else %}
                        <option selected>Ingresa Valor...</option>
                      {% endif %}
                      <option value="Areas prioritarias">Areas prioritarias</option>
                      <option value="Físico-Matemáticas y Ciencias de la Tierra">Físico-Matemáticas y Ciencias de la Tierra</option>                      
                      <option value="Biología y Química">Biología y Química</option>
                      <option value="Medicina y Ciencias de la Salud">Medicina y Ciencias de la Salud</option>
                      <option value="Humanidades y ciencias de la conducta">Humanidades y ciencias de la conducta</option>
                      <option value="Ciencias Sociales">Ciencias Sociales</option>
                      <option value="Biotecnología y Ciencias Agropecuarias">Biotecnología y Ciencias Agropecuarias</option>
                      <option value="Ingenierías">Ingenierías</option>
                    </select>
                    <label class="my-1 mr-2" disabled="disabled" for="inlineFormCustomSelectPref">Subcategoría</label>
                    <select name = "subcategory"  class="custom-select my-1 mr-sm-2 readonly" id="subcat">
                      {% if project|length > 0 %}
                        <option selected>{{project['SubCat']}}</option>
                      {% else %}
                        <option selected>Elegir categoría primero...</option>
                      {% endif %}
                      <!-- <option value="1">Three</option> EJEMPLO DE COMO SE INSERTAN LAS OPCIONES CON JS-->
                    </select><br><br>
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Resumen del proyecto *No más de 250 palabras</label>
                    <input name="abstract" placeholder="Abstract" type="text" autofocus class="form-control">

                    <!-- PRUEBA                   
                    <br>
                    <input name="userPassword" placeholder="Your Password"  type="password" class="form-control">
                      -->                

                  </div>              
                <br>          
            </div>
            <div class="modal-footer">
              <button onclick="cancel()" type="button" class="btn btn-secondary" id="cancel-button" data-dismiss="modal">Salir</button>
              <button onclick="validate()" type="submit" class="btn btn-success" id="save-button">Guardar</button>
            </div>
          </div>
        </form>

      </div>
    <div class="col-lg-3"></div>

  </div>

<script type="text/javascript">

//var strUser = e.options[e.selectedIndex].value;  
function validate(){
  $("#btn-create-new-chat").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Creating ...');
  fetch("/new-chat/create")
    .then((data) => {
      console.log(data);
      $("#btn-create-new-chat").html("Created!");
      window.location = data['url'];
    },
      (error) => {
        console.log(error);
        $("#btn-create-new-chat").html("There is an error. Please try again.");
      });

}
function cancel(){
  $("#cancel-button").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saliendo ...');
  fetch("/")
    .then((data) => {
      console.log(data);
      window.location = data['url'];
    },
      (error) => {
        console.log(error);
        $("#cancel").html("Error.");
      });
}


prioritatias = ["COVID-19","Medio Ambiente","Conservación Ambiental","Salud","Alimentación","Oportunidades Laborales"]
ciencias = ["Ciencia de los Materiales","Ciencias Terrestres y Ambientales","Física y Astronomía","Matemáticas","Energía Química","Energía Física"]
biologias = ["Biología Celular y Molecular","Bioquímica","Química"]
medicas = ["Ciencias Biomédicas y de la Salud","Ciencia Medica Traslacional","Neurociencias"]
humanidades = ["Historia"]
csociales = ["Comportamiento y Ciencia Sociales","Psicología Social","Psicología Clínica"]
biotech = ["Biología Computacional y Bioinformatica","Ciencias Animales","Ciencias de las Plantas"]
ingenierias = ["Ingeniería Ambiental","Ingeniería Biomédica","Robótica y Máquinas Inteligentes","Sistemas de Software","Sistemas Embedidos"]

function createCats(array){
  var id = "subcat";
  var sel = document.getElementById(id);
  while(sel.hasChildNodes()){
    sel.removeChild(sel.firstChild);   
  }
  
  for (index = 0; index < array.length; index++) { 
    var opt = document.createElement('option');
    opt.appendChild( document.createTextNode(array[index]) );
    opt.value = array[index]; 
    sel.appendChild(opt);   
  } 
}

function getIndex(){
  var e = document.getElementById("cat").selectedIndex;
  if (e===1){
    createCats(prioritatias);
  }if (e===2){
    createCats(ciencias);
  }if (e===3){
    createCats(biologias);
  }if (e===4){
    createCats(medicas);
  }if (e===5){
    createCats(humanidades);
  }if (e===6){
    createCats(csociales);
  }if (e===7){
    createCats(biotech);
  }if (e===8){
    createCats(ingenierias);
  }

  console.log(e);
}


</script>

</div>
{% endblock %}
